<html>
<head>
    <title>Main Page</title>
</head>
    <body>
        <h1>Hello, {{session.user_info.name}}</h1>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/friends">My Friends</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="/profile">My profile</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>