<html>
    <head>
        <title>My Facebook Site</title>
    </head>
<body>
    <div>
        <h1>Login</h1>
        <form method="post" action="/login">
            <input type="email" name="email" placeholder="Enter email..">
            <input type="password" name="password" placeholder="Enter password..">
            <input type="submit" value="Login">
    </form>
    </div>
    <hr>
    <div>
         <form method="post" action="/signup">
            <input type="email" name="email" placeholder="Enter email..">
             <input type="text" name="name" placeholder="Enter name..">
            <input type="password" name="password" placeholder="Enter password..">
            <input type="submit" value="Sign up">
    </form>
    </div>
</body>
</html>